@import 'lib/bower/bootstrap-sass/assets/stylesheets/bootstrap';

html, body {
  height: 100%;
}

/*
 * GENERIC
 *****************************/
.row {
    margin-bottom: 10px;
}

/*
 * WRAPPER
 *****************************/
#wrapper {
	max-width: 1000px;
	min-height: 100%;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	border: 1px solid #CCC;
}

/*
 * HEADER
 *****************************/
#header {
	max-height: 300px;
    position: relative;
    .beta-logo {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 300px;
    }
}

/*
 * MENU
 *****************************/
.navbar {
	border-radius: 0px;
	#top-menu {
		width: 100%;
		& > li {
			& > a {
				&:hover {
					background: #CCC;
				}
				& > img {
					max-width: 40px;
				}
			}
		}	
		.active {
			background: #CCC;
		}
	}
}

/*
 * CONTENT
 *****************************/
#content {
	padding: 20px;
}

#armys {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		display: inline-block;
		margin: 10px 100px 10px 100px;
		padding: 0;
	}
}

#left-col-build {
  position: inherit;
}

.army-models {
    &:first-of-type {
        .accordion-container {
            display: block;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            background: #CCC;
            list-style: none;
            padding: 5px 0;
            &:hover {
                background-color: #AAA;
            }
        }
    }
	.headline {
		font-weight: bold;
		background: #EEE;
		text-transform: capitalize;
		padding: 5px;
        cursor: pointer;
        margin-top: 10px;
        span {
            font-weight: normal;
        }
	}
    .accordion-container {
        display: none;
    }
	.add-to-list {
		cursor: pointer;
		&:hover {
			color: green;
		}
	}
    .remove-from-list {
        cursor: pointer;
        &:hover {
            color: #8B0000;
        }
    }
	.disable {
		color: #aaa;
		.add-to-list {
			display: none;
		}
	}
    .ui-draggable {
        cursor: move;
        &.disable {
            cursor: default;
        }
    }
}
.selected-models {
    margin: 10px 0;
}

.drop-model {
    margin-top: 10px;
    padding: 40px;
    border: 3px dashed #CCC;
    color: #CCC;
    font-size: 20px;
    font-weight: bold;
}
